* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.app {
  background-color: burlywood;
  font-family: 'Courier New', Courier, monospace;
  height: 100vw;
  text-align: center;
}